{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "indent": ["warn", "tab"],
    "no-tabs": ["warn", { "allowIndentationTabs": true } ],
    "semi": "off",
    "object-curly-spacing": ["warn", "always"],
    "comma-dangle": "off",
    "quotes": ["warn", "single"]
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
